<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks Manager</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css" th:href="@{/css/home.css}" />
</head>
<body style="background-color: lightgrey; width: 100%; justify-content: center; align-content: center;">

    <div class="container">

        <h1 class="main-title" th:text="'Create a new task'"></h1>

        <form style="background-color: lightgrey; width: 100%; justify-content: center; align-content: center;"
              th:object="${task}" th:action="@{save}" action="#" method="post">

            <label for="TaskTitle">Title</label>
            <input type="text" id="TaskTitle" th:field="*{title}" required/>
            <br><br>

            <label for="TaskDescription">Description</label>
            <input type="text" id="TaskDescription" th:field="*{description}"/>
            <br><br>

            <label for="TaskDueDate">Due date (dd/mm/yy)</label>
            <input type="text" id="TaskDueDate" th:field="*{dueDate}"/>
            <br><br>

            <label for="TaskStatus">Status</label>
            <select id="TaskStatus" th:field="*{status}" required>
                <option th:each="status : ${T(fi.haagahelia.serverprog.todomanager.domain.Model.tasks.TaskStatus).values()}"
                        th:value="${status}"
                        th:text="${status}">
                </option>
            </select>
            <br><br>

            <label for="TaskPriority">Priority</label>
            <select id="TaskPriority" th:field="*{priority}" required>
                <option th:each="priority : ${T(fi.haagahelia.serverprog.todomanager.domain.Model.tasks.TaskPriority).values()}"
                        th:value="${priority}"
                        th:text="${priority}">
                </option>
            </select>
            <br><br>

            <label for="TaskCategory">Category</label>
            <select id="TaskCategory" th:field="*{category.id}">
                <option th:value="0" th:text="--"></option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.title}">
                </option>
            </select>
            <br><br>

            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>

</body>
</html>