<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in your profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Logout</h1>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <form th:action="@{/logout}" method="post">
        <div>
            <input type="submit" class="btn btn-success" value="Logout"/>
        </div>
    </form>

    <div>
        <br><br>
        <a class="btn btn-info" href="/register">Sign up</a>
    </div>
</div>
</body>
</html>