<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create your profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Sign-up</h1>
    <div class="col-md-4">
        <form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">

            <label>Username</label>
            <input type="text" th:field="*{username}" class="form-control" />
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>

            <label>Email</label>
            <input type="text" th:field="*{email}" class="form-control" />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>

            <label>First name</label>
            <input type="text" th:field="*{firstName}" class="form-control" />
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</p>

            <label>Last name</label>
            <input type="text" th:field="*{lastName}" class="form-control" />
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</p>

            <label>Password</label>
            <input type="password" th:field="*{password}" class="form-control" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>

            <label>Confirm password</label>
            <input type="password" th:field="*{passwordCheck}" class="form-control" />
            <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Confirm password Error</p>

            <br/>

            <input type="submit" class="btn btn-primary" value="Signup">
        </form>

        <div>
            <a href="/login">Sign in</a>
        </div>
    </div>
</div>
</body>
</html>